.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.page-layout__title--active {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: white;
  color: white;
}
